	<input type="button" class="btn btn-default btn-info" value="-" onclick="changeBranchLengthRatio({{vis}}, -0.2)" /> 
	<label>Branch length</label>
	<input type="button" class="btn btn-default btn-info" value="+" onclick="changeBranchLengthRatio({{vis}}, 0.2)" />
	
	{{#if dendrogram}}
	<input type="button" class="btn btn-default btn-info" value="-" onclick="changeBranchHeightRatio({{vis}}, -0.2)" />
	<label>Branch height</label>
	<input type="button" class="btn btn-default btn-info" value="+" onclick="changeBranchHeightRatio({{vis}}, 0.2)" />
	{{/if}}