<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
    {{#each scripts}}
        <script language="javascript" type="text/javascript" src="/js/{{this}}"></script>
    {{/each}}
    <title>
        {{#if title}} {{title}}
        {{else}} DyTA {{/if}} 
    </title>
</head>

<body>
    <div class="navbar">
        <ul class="nav nav-tabs">
            <li role="presentation">
                    <a href="/home">
                        <span class="glyphicon glyphicon-home"></span> Home
                    </a>
            </li>
            <li role="presentation">
                <a href="/insert">
                    <span class="glyphicon glyphicon-cloud-upload"></span> Insert
                </a>
            </li>
            <li role="presentation">
                <a href="/view">
                    <span class="glyphicon glyphicon-search"></span> View
                </a>
            </li>
        </ul>
    </div>

	{{{body}}}        
    
    <footer class="footer">
        <div class="container text-center">
            <p class="text-muted">DyTA - Dynamic Tree Analysis</p>
        </div>
    </footer>

    {{#each afterBodyScripts}}
    <script language="javascript" type="text/javascript" src="/js/{{this}}"></script>
    {{/each}}

    {{#if treeResource}}
    <script language="javascript" type="text/javascript">
        window.onload = () => onPageLoad("{{{apiURI}}}", {{treeID}}, {{ts}})
    </script>
    {{/if}}

</body>

</html>
