<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>DyTA - Home</title>
</head>

<body>
    <section class="container-fluid" id="body-container">

    <article id="home-article" class="col-md-8 col-md-offset-2 jumbotron transparent" >
        <h1 id="name" class="text-center">Welcome to DyTA</h1>
        
        <section id="home-description">
            <p>
                This website was designed to help you visualize and analyze the evolution of 
                phylogenetic trees over time in an incremental fashion by highlighting with color 
                the differences in nodes and edges. <br>
            </p>
            <p>   
                You can read about how to use DyTA <a href="https://dyta-docs.readthedocs.io/en/latest/">here</a>.
            </p>
            <p id="link-container">
                Click the following links to start using DyTA:
            </p>
            <div class="container">
                <!-- LINKS -->
                <span class="row">
                    <a  class="link-text" href="/insert">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
                        <span class="link-text">Insert a tree using Newick format</span>
                    </a> 
                    </span>

                    <span class="row">
                    <a class="link-text" href="/view">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
                        <span>View a previously inserted tree</span>
                    </a> 
                    </span>
                </div>
        </section>
    </article>

</section>    
</body>
</html>