<section class="container" id="body-container">

    <article id="title-article">
        <h1 id="name">Add a new tree</h1>
    </article>

    <form class="container form" action="/tree" method="post">
        <div class="form-group">
            <p> Choose your tree type:</p>
            <input id="treetype1" type="radio" name="treetype" value="1">
            <label for="treetype1"><div class="text-title" title="The visualization for trees with data only in leaves. For example, trees originated from UPGMA algorithm.">Dendrogram(?)</div></label>

            <input id="treetype2" type="radio" name="treetype" value="2" required>
            <label for="treetype2"><div class="text-title" title="The visualization for trees or forests with data in all nodes. For example, trees originated from goEBurstFullMST algorithm or forests originated from goEBurst.">Graph-like(?)</div></label>
        </div>

        <div class="form-group">
            <p>Your tree in Newick Format:</p>
            <input id="treesource" type="text" class="form-control" placeholder="Newick Format Tree" name="treesource" required>
        </div>

        <div class="form-group">
            <p>Your tree name:</p>
            <input id="tree-name" type="text" class="form-control" id="treename" placeholder="Tree name" name="treename" required>
        </div>

        <div class="form-group">
            <p>Your tree description:</p>
            <div class="question">
                <textarea id="tree-description" name="treedescription" cols="90" rows="3"></textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-default btn-info">Submit my tree</button> or suggest me a <button type="button" onclick="suggestDendrogram()" class="btn btn-default btn-info">Dendrogram</button> or <button type="button" onclick="suggestGraphlike()" class="btn btn-default btn-info">Graph-like</button> tree.
    </form>

</section>