<section class="container" id="body-container">


    <article class="form-article well">
        <h2>Visualize tree</h2>

        <div class="form-group">
            <p> Your tree identifier:</p>
            <input type="number" min="0" class="form-control" id="treeId" placeholder="tree id" name="treeId" required>
        </div>

        <form id="view-form" class="form" action="" method="get">
            <button type="submit" class="btn btn-info">See tree</button>
        </form>
    </article>

    <article class="form-article well">
        <h2>Visualize differences between timestamps</h2>

        <div class="form-group">
            <p> Your tree identifier:</p>
            <input type="number" min="0" class="form-control" id="diftreeId" placeholder="tree id" name="treeId" required>
        </div>

        <div class="form-group">
            <p> First timestamp:</p>
            <input type="number" min="0" class="form-control" id="firstTs" placeholder="first timestamp" name="firstTs" required>
        </div>

        <div class="form-group">
            <p> Second timestamp:</p>
            <input type="number" min="0" class="form-control" id="secondTs" placeholder="second timestamp" name="secondTs" required>
        </div>
        <form id="view-dif-form" class="form" action="" method="get">
            <button type="submit" class="btn btn-info">See differences</button>
        </form>
    </article>

</section>