<section id="body-container">

    <article id="visualization-article">
        <div class="" id="tree-info">
            <h2 id="tree-name" data-toggle="popover" title="This is your tree identifier - {{treeID}}" data-content="This is the identifier you should use to access your tree anytime">
                {{name}}
            </h2>
            <p class="" id="tree-desc">
                {{description}}
            </p>
        </div>

        <section class="well container-fluid" id="visualization-container">

            <div class="palettes-div col-sm-12">
                <h3>Change the color palette: </h3>
                <input id="palette2" type="checkbox" name="paletteRadio" onchange="choosePalette(this)">
                <label for="palette2">Alternate Palette</label>
                <button id="change-view-button" class="btn btn-info" onclick="changeViewMode()">Change view mode</button>
            </div>


            <article id="pair-svgs-article" class="col-sm-12">
                <section class="svg-section col-sm-6">
                    <span class="row">
                        <input type="text" id="search-node-input-1" placeholder="Enter node name" />
                        <button type="button" class="btn btn-info" value="Search node" onclick="onFirstTreeSearchNodeClick()">
                            <span class="glyphicon glyphicon-search"></span>
				        </button>
                        <button type="button" class="btn btn-info" value="Export" onclick="_exportNewick(0)">
                        	<span class="glyphicon glyphicon-download-alt"></span>
				        </button>
                    </span>

                    <span class="row">
                    {{> branch vis=0}}
                    </span>

                    <svg id="svg1">
                    </svg>
                </section>
                
                <section class="svg-section col-sm-6">
                    <span class="row">
                        <input type="text" id="search-node-input-2" placeholder="Enter node name" />
                        <button type="button" class="btn btn-info" value="Search node" onclick="onSecondTreeSearchNodeClick()" />
                            <span class="glyphicon glyphicon-search"></span>
				        </button>
                        <button type="button" class="btn btn-info" value="Export" onclick="_exportNewick(1)">
                            <span class="glyphicon glyphicon-download-alt"></span>
				        </button>
                    </span>
                    
                    <span class="row">
                    {{> branch vis=1}}
                    </span>

                    <svg id="svg2">
                    </svg>
                </section>
                
                {{#if slider}}
                <span class="col-sm-12">
                    <input id='sliding-pair-window' type="text"
                        data-slider-ticks={{slider.ticks}}
                        data-slider-labels={{slider.ticks}}
                        data-slider-min={{slider.min}}
                        data-slider-max={{slider.max}}
                        data-slider-step="1"
                        data-slider-value={{slider.values}}
                        data-slider-id="sliding-pair-window-drag"
                    />
                </span>
                {{/if}}
            </article>

            <article id="sliding-svg-article" class="col-sm-12">
                <section class="svg-section col-sm-12">
                    <span class="row">
                        <input type="text" id="search-node-input-sliding" placeholder="Enter node name" />
                        <button type="button" class="btn btn-info" value="Search node" onclick="onSlidingTreeSearchNodeClick()">
                            <span class="glyphicon glyphicon-search"></span>
				        </button>
                        <button type="button" class="btn btn-info" value="Export" onclick="_exportNewick(1)">
                        	<span class="glyphicon glyphicon-download-alt"></span>
				        </button>
                    {{> branch vis=0}}
                    </span>

                    <svg id="sliding-svg">
                    </svg>
                </section>
                
                {{#if slider}}
                <span class="col-sm-12">
                    <input id='sliding-window' type="text"
                        data-slider-ticks={{slider.ticks}}
                        data-slider-labels={{slider.ticks}}
                        data-slider-min={{slider.min}}
                        data-slider-max={{slider.max}}
                        data-slider-step="1"
                        data-slider-value={{slider.value}}
                        data-slider-id="sliding-window-drag"
                    />
                </span>
                {{/if}}
            </article>
        </section>

        <div class="modal fade" id="loading-screen" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Loading...</h4>
                    </div>
                    <div class="modal-body">
                        <p>This may take a while. Please wait...</p>
                        <img src="/imgs/spinner.gif" class="center-block" width="50%" />
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="newick-export" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Newick export</h4>
                    </div>
                    <div class="modal-header">
                        <button type="button" class="btn btn-default" onclick="copyToClipboard()">Copy</button>
                    </div>
                    <div class="modal-body">
                        <p id="newick-export-text"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="copyToClipboard()">Copy</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script language="javascript" type="text/javascript">
            window.onload = _ => onPageLoad("{{{apiURI}}}", {{treeID}}, {{tsA}}, {{tsB}})
        </script>
</section>