<section id="body-container">

	<article id="visualization-article">
		<div id="tree-info">
			<h2 id="tree-name" data-toggle="popover" title="This is your tree identifier - {{treeID}}" data-content="This is the identifier you should use to access your tree anytime">
                {{name}}
            </h2>
			<p id="tree-desc">
				{{description}}
			</p>
		</div>

		<section class="well container-fluid" id="visualization-container">
			<article class="visualization-buttons-article">
				<input type="text" id="search-node-input" placeholder="Enter node name" />
				<button type="button" class="btn btn-default btn-info" value="Search node" onclick="onSearchNodeClick()">
					<span class="glyphicon glyphicon-search"></span>
				</button>
				<button type="button" id="nwk-export-btn" class="btn btn-default btn-info" value="Export" onclick="exportNewick('{{{treeResource}}}')">
					<span class="glyphicon glyphicon-download-alt"></span>
				</button>

				<a href="#update">
					<button type="button" id="goto-update-btn" class="btn btn-default btn-info">
						Update
					</button>
				</a>
				
				{{> branch vis=0}}

			</article>
			<svg id="svg1">
			</svg>

			{{#if slider}}
			<span class="col-sm-12">
				<input id='sliding-window' type="text"
					data-slider-ticks={{slider.ticks}}
					data-slider-labels={{slider.ticks}}
					data-slider-min={{slider.min}}
					data-slider-max={{slider.max}}
					data-slider-step="1"
					data-slider-value={{slider.value}}
					data-slider-id="sliding-window-drag" />
			</span>
			{{/if}}
		</section>
		
		{{#if renderForms}}
		<a name="update"></a>
		<button 
		id="btn-update-toggle" 
		type="button" 
		class="btn btn-info update-selector"
		onclick="javascript:toggleUpdateForm()">
			<span id="nwk-btn-text">Change to Newick update method</span>
			<span id="man-btn-text" hidden="true">Change to manual update method</span>
		</button>
		
		<section id="manual-update-section">
			<article id="add-branch-article" class="form-article">
				<form name="addBranchForm" class="well form" action="javascript:addBranch()">
					<legend>Add a branch</legend>

					<div class="form-group">
						<p>
							<div class="text-title" title="please mouse over the desired vertex to see its id">Existent vertex id(?)</div>
						</p>
						<input type="number" class="form-control" id="apvid" placeholder="existent vertex id" name="apvid" required>
					</div>

					<div class="form-group">
						<p>New vertex data:</p>
						<input type="text" class="form-control" id="anvdata" placeholder="new vertex data" name="anvdata" {{#unless dendrogram}}required{{/unless}}>
					</div>

					<div class="form-group">
						<p>New Branch length:</p>
						<input type="number" min="0" step="any" class="form-control" id="ablength" placeholder="branch length" name="ablength" required>
					</div>

					<button type="submit" class="btn btn-default">Add branch</button>
				</form>
			</article>

			<article id="update-branch-article" class="form-article">
				<form name="updateBranchForm" class="well form" action="javascript:updateBranch()">
					<legend>Update a branch</legend>

					<div class="form-group">
						<p>
							<div class="text-title" title="please mouse over the desired vertex to see its id">Vertex id(?)</div>
						</p>
						<input type="number" min="0" class="form-control" id="uvid" placeholder="vertex id" name="uvid" required>
					</div>

					<div class="form-group">
						<p>Vertex new data:</p>
						<input type="text" class="form-control" id="uvdata" placeholder="new data" name="uvdata" required>
					</div>

					<button type="submit" class="btn btn-default">Update vertex</button>
				</form>
			</article>

			<article id="remove-branch-article" class="form-article">
				<form name="removeBranchForm" class="well form" action="javascript:removeBranch()">
					<legend>Remove a branch</legend>

					<div class="form-group">
						<p>
							<div class="text-title" title="please mouse over the desired vertex to see its id">Vertex id(?)</div>
						</p>
						<input type="number" min="0" class="form-control" id="rvid" placeholder="vertex id to remove" name="rvid" required>
					</div>

					<button type="submit" class="btn btn-default">Remove vertex</button>
				</form>
			</article>

			<article id="manual-changes-article" class="form-article">
				<form name="manualChangesForm" class="well form" action="javascript:manualChanges()">
					<legend>Submit my own changes</legend>

					<div class="form-group">
						<p>Insert the changes according to the supported format in the textbox below</p>
						<textarea id="manual-changes-text" rows="6"></textarea>
					</div>

					<button type="submit" class="btn btn-default">Add my changes</button>
				</form>
			</article>
			</div>

			<article id="send-tree-article" class="container">
				<h4>Changes to submit</h4>
				<textarea id="changes-history" readonly rows="3"></textarea>
				<button type="button" onclick="sendManualChanges('{{{changeEndpoint}}}')" class="btn btn-default">Send tree's new timestamp</button>
				<button type="button" onclick="clearChanges()" class="btn btn-default">Clear changes</button>
			</article>
		</section>

		<section id="newick-update-section"  hidden="true">
			<article id="newick-changes-article" class="form-article">
				<form name="newickForm" class="well form" action="javascript:sendNewickChanges('{{{changeEndpoint}}}')">

					<div class="form-group">
						<p>Insert the new tree Newick representation</p>
						<input type="text" class="form-control" id="newick-text" placeholder="new tree newick source" name="newick-src" required>
					</div>

					<button type="submit" class="btn btn-default" {{#if dendrogram}}title="this form of changes is not available yet for Dendrogram trees :(" disabled{{/if}}>Send new tree timestamp</button>
				</form>
			</article>
		</section>
		{{/if}}

	</article>
	
	<div class="modal fade" id="loading-screen" role="dialog" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Loading...</h4>
				</div>
				<div class="modal-body">
					<p>This may take a while. Please wait...</p>
					<img src="/imgs/spinner.gif" class="center-block" width="50%" />
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="newick-export" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Newick export</h4>
				</div>
				<div class="modal-header">
					<button type="button" class="btn btn-default" onclick="copyToClipboard()">Copy</button>
				</div>
				<div class="modal-body">
					<p id="newick-export-text"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" onclick="copyToClipboard()">Copy</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</section>