.overlay {
        background-color: white;
}

.node circle {
	stroke-width: 2px;
}

.node text {
        fill: black;
}

.link {
        stroke-width: 2px;
	fill: none;
}

svg{
        display: block;
        border-radius: 10px;
}

.svg-section{
        display: inline-block;
}