.form-article{
    display: inline-block;
    margin: 1%;
    width: 22.6%;
}

#manual-changes-text{
    width: 100%;
}

#pair-svgs-article{
    display: none;
}

#sliding-svgs-article{
    display: none;
}

#send-tree-article{
    display: inline-block;
    width: 100%;
}

#changes-history{
    width:100%;
}

#tree-name{
     margin-left: 1%;
}

h2 {
    display: table;
}

.palettes-div h3{
    display: inline-block;
}

.svg-section{ 
    padding: 1px;
}

.update-selector{
    width: 100%;
}

#newick-changes-article{
    width: 98%;
}

#newick-update-button{
    float: right;
    margin-top: 1px;
    margin-bottom: 1%;
}

.btn{
    margin-bottom: 4px;
}

#sliding-window {
    text-align: center;
}

#sliding-window-drag {
    width:100%;
}

#sliding-pair-window-drag {
    width:100%;
}