<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>500 Internal Server Error</title>

  <link href="https://a1.muscache.com/airbnb/static/packages/common_o2.1-f8a73ee0d4378e3442aa7772f248998e.css" media="all" rel="stylesheet" type="text/css">

</head>

<body>
  <div class="page-container page-container-responsive">
    <div class="row space-top-8 space-8 row-table">
        <div class="col-5 col-middle">
          <h1 class="text-jumbo text-ginormous">Oops!</h1>
          <h2>Something went wrong on our end. Don't worry we're working hard to fix it!</h2>
          <h6>Error code: 500</h6>
          <ul class="list-unstyled">
            <li>Here are some helpful links instead:</li>
            <li><a href="/home">Home</a></li>
            <li><a href="/view">View</a></li>
            <li><a href="/insert">Insert</a></li>
          </ul>
        </div>
        <div class="col-5 col-middle text-center">
          <img src="https://a0.muscache.com/airbnb/static/error_pages/404-Airbnb_final-d652ff855b1335dd3eedc3baa8dc8b69.gif" alt="Girl has dropped her ice cream." width="313" height="428">
        </div>
      </div>
   </div>
</body>
</html>