/*
body {
    background-color: black;
}
*/
/*
svg {
    background-color: red;
}
*/

.node {
    fill: blue;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.node text {
  font: 10px arial;
}